In [23]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [24]:

spark = SparkSession.builder.config("spark.jars", "/home/hdoop_new/CFP/AWS/CFP/aws/contact/MySqlJdbcDriver/mysql-connector-j-8.0.31.jar") \
    .master("local").appName("PySpark_MySQL_test1").getOrCreate()

In [9]:
studentDf = spark.createDataFrame([
	Row(id=1,name='vijay',marks=67),
	Row(id=2,name='Ajay',marks=88),
	Row(id=3,name='jay',marks=79),
	Row(id=4,name='vinay',marks=67),
])

In [10]:
studentDf.show()

+---+-----+-----+
| id| name|marks|
+---+-----+-----+
|  1|vijay|   67|
|  2| Ajay|   88|
|  3|  jay|   79|
|  4|vinay|   67|
+---+-----+-----+

In [ ]:
# create table my_first_db.student(
# id int,
# name text,
# marks int);

In [12]:
studentDf.write.format('jdbc').options(
      url='jdbc:mysql://localhost/my_first_db',
      driver='com.mysql.jdbc.Driver',
      dbtable='student',
      user='root',
      password='Vaibhav@123').mode('append').save()

In [27]:
data = spark.read.csv('contacts.csv', header=True)

In [28]:
data.show()

+----------+---------+------+-----------+----------+--------------------+
|first_name|last_name|  city|  mobile_no|  phone_no|               email|
+----------+---------+------+-----------+----------+--------------------+
|     vipul|    shete|  beed| 8484891290|7020852447|vipulshete@gmail.com|
|   vaibhav|    shete|mumbai|70208524447|9665281201|vaibhavshete@gmai...|
|       ram|   shinde|  beed|     569856|      null| ramshinde@gmail.com|
|   shubham|    joshi|  pune| 1234567892|8484756892|   shubham@gmail.com|
|   kailash|   jadhav|mumbai|       null|    598564|  pavanjad@gmail.com|
|     pavan|    rasal|  beed| 8484895260|4311222265|  pavanjad@gmail.com|
|      lisa|     dash|mumbai|    8569877|      null|  lisadash@gmail.com|
|   tukaram|   shinde|  pune|       null|8484891290|   tukaram@gmail.com|
|    smarth|    shete|mumbai|87569878458|8484892448|    smarth@gmail.com|
|     rahul|    shete|  pune|   56987568|      null|     rahul@gmail.com|
|    vishal|    shete|  beed|       null|      null|    vishal@gmail.com|
+----------+---------+------+-----------+----------+--------------------+

In [30]:
import pandas as pd
data1 = pd.read_csv("contacts.csv")

In [31]:
data_schema = pd.io.sql.get_schema(data1.reset_index(), 'contact')
print(''.join(data_schema))

CREATE TABLE "contact" (
"index" INTEGER,
  "first_name" TEXT,
  "last_name" TEXT,
  "city" TEXT,
  "mobile_no" REAL,
  "phone_no" REAL,
  "email" TEXT
)

In [29]:
data.write.format('jdbc').options(
      url='jdbc:mysql://localhost/my_first_db',
      driver='com.mysql.jdbc.Driver',
      dbtable='contact12',
      user='root',
      password='Vaibhav@123').mode('append').save()